.idea/
.vscode/
*.iml
*.log

.env*
!.env.example

**/target/
**/node_modules/
**/dist/
**/.venv/
**/__pycache__/
**/*.tsbuildinfo
frontend/src/**/*.js
frontend/vite.config.js
frontend/vite.config.d.ts

data/
volumes/
docker-data/
minio-data/
mysql-data/

*.svs
*.kfb
*.sdpc
*.tron
*.mdsx
*.tmap
*.dmetrix
*.fenlan
*.zyp
*.hwp
*.csp
